@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf9f4;
}










/* Navbar */
    navbar#navbar{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 70px;
        z-index: 100;
        background-color: #E51636;
        transition: 0.4s;
    }
    navbar#navbar .notification{
        display: flex;
        margin-right: 20px;
    }
    navbar#navbar .notification{
        width: 70px;
        display: flex;
        justify-content: space-around;
    }
    navbar#navbar .notification a{
        text-decoration: none;
        color: white;
    }
    navbar#navbar .notification a:nth-child(2){
        display: flex;
        justify-content: center;
        background-color: white;
        padding: 0 5px 0 5px;
        color: red;
        border-radius: 100px;
    }
    navbar#navbar .userAccount{
        margin-right: 20px;
    }
    navbar#navbar .userAccount a{
      text-decoration: none;
      color: white;
    }
    navbar#navbar .links{
        width: 350px;
        display: flex;
        justify-content: space-around;
    }
    navbar#navbar .links a{
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 17px;
    }
    navbar#navbar img.red{
        position: absolute;
        width: 100px;
        left: 20px;
        display: none;
        z-index: 100;
    }
    navbar#navbar img.white{
        position: absolute;
        width: 100px;
        left: 20px;
        display: block;
        z-index: 100;
    }

    navbar#navbar .hamburger{
        height: 20px;
        width: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        z-index: 100;
        cursor: pointer;
    }
    navbar#navbar .hamburger span{
        height: 3px;
        background-color: #E51636;
        border-radius: 5px;
    }

/* End of Navbar */











/* Tables */
    section#tables{
        border: solid;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
/* End of Tables */















@media only screen and (max-width: 767px){
    /* Navbar */
        navbar#navbar .hamburger{
            display: flex;
        }
        navbar#navbar .hamburger span{
            background-color: white;
        }
        navbar#navbar .links{
            position: absolute;
            right: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            background-color: #E51636;
            z-index: -1;
            transform: translateX(100%);
            transition: 0.5s;
        }
        navbar#navbar .links a{
            color: white;
        }

        navbar#navbar .hamburger.slide span{
            background-color: white;
        }
        navbar#navbar .links.slide{
            transform: translateX(0);
        }
    /* End of Navbar */



    /* Tables */


    /* End of Tables */
}

@media only screen and (max-width: 376px) {
    section#navigation .navigations .navCard {
      width: 250px;
    }
    navbar#navbar .session{
      font-size: 12px;;
    }
  }
  
  @media only screen and (max-width: 361px) {
    section#navigation .navigations .navCard {
      width: 200px;
    }
  
  }
  
  @media only screen and (max-width: 320px){
      navbar#navbar .session{
          font-size: 10px;
      }
      navbar#navbar .session .notification{
          margin-right: 0px;
      }
  }



